@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Bloqueo";
}

<hgroup>
    <h1 class="text-danger">Bloqueo.</h1>
    <h2 class="text-danger">Su cuenta ha sido bloqueda, intente más tarde.</h2>
</hgroup>
